    nav>div a.nav-item.nav-link,
    nav>div a.nav-item.nav-link.active {
        color: #818c9c;
    }
    
    nav>div a.nav-item.nav-link.active:after {
        content: "";
        position: relative;
        border-top-color: #aaaaaa;
    }
    
    nav>div a.nav-item.nav-link:hover,
    nav>div a.nav-item.nav-link:focus {
        border: none;
        background: #aaaaaa;
        color: #fff;
        border-radius: 0;
        transition: background 1s linear;
    }
    
    #glamoriseJsonConfig,
    #glamoriseJsonConfigInterface,
    #nalirXmlConfig {
        font-size: 12px;
        font-family: "Lucida Console", "Courier New", monospace;
        background-color: black;
    }
    
    #glamoriseJsonConfig {
        color: yellowgreen;
    }

    #glamoriseJsonConfigInterface {
        color: yellow;
    }
    
    #nalirXmlConfig {
        color: green;
    }
    
    svg {
        width: 100% !important;
        height: 100% !important;
    }