{% extends "base.html" %}    
    {% block content %}          
        <div class="row ">
            <div class="col-sm-12">
                <p>Natural Language Interface to Databases (NLIDB) systems usually do not deal with aggregations, 
                   which can be of two types: aggregation functions (such as count, sum, average, minimum, and maximum) 
                   and grouping functions (GROUP BY). GLAMORISE addresses the creation of a generic module, to be used 
                   in NLIDB systems, that allows such systems to perform queries with aggregations, 
                   on the condition that the query results the NLIDB returns are or can be transformed into tables. </p>
                <p>You can find the source code in the <a href="https://github.com/novello/GLAMORISE">Project's Github Repository</a></p>
                <p>You can find out more about GLAMORISE in the following article: <b><a href="{{url_for('static', filename='paper/207509_1-A-Novel-Solution-for-the-Aggregation-Problem-in-Natural-Language-Interface-to-Databases-NLIDB.pdf')}}">A Novel Solution for the Aggregation Problem in Natural Language Interface to Databases (NLIDB)</a>. 
                Novello, A., F.; and Casanova, M., A. Proc. XXXV Brazilian Symposium on Databases - SBBD. 2020. Awarded as the 2nd Best Short Paper.</b></p>
                <p>This implementation of GLAMORISE uses NaLIR as its integrated NLIDB. <a href="https://github.com/novello/nalir-glamorise">Nalir-glamorise</a> is a customization of the <a href="https://github.com/pr3martins/nalir-sbbd">Nalir-ssbd</a> project which in turn is a Python port of the original <a href="https://github.com/umich-dbgroup/NaLIR">NaLIR</a> project.</p>
            </div>
        </div> 
        <div class="row ">
            <div class="col-sm-4">
                <div class="card h-100 d-inline-block" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/mock_anp.png')}}" alt="Petrobras Platform">        
                    <div class="card-body">
                        <h5 class="card-title">GLAMORISE with Mock NLIDB - ANP database</h5>
                        <p class="card-text">Use this to test GLAMORISE with Mock NLIDB using an ANP (Agência Nacional de Petróleo - Brazilian Petroleum Agency) database.</p>
                        <a href="/glamorise_mock_anp" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>             
            <div class="col-sm-4">
                <div class="card  h-100 d-inline-block" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/nalir_anp.png')}}" alt="Petrobras Platform">
                    <div class="card-body">
                        <h5 class="card-title">GLAMORISE with NaLIR NLIDB - ANP database</h5>
                        <p class="card-text">Use this to test GLAMORISE with NaLIR NLIDB using an ANP (Agência Nacional de Petróleo - Brazilian Petroleum Agency) database.</p>
                        <a href="/glamorise_nalir_anp" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>    
            <div class="col-sm-4">    
                <div class="card h-100 d-inline-block" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/nalir_mas.png')}}" alt="Microsoft Academic Search">
                    <div class="card-body">
                        <h5 class="card-title">GLAMORISE with NaLIR NLIDB - MAS database</h5>
                        <p class="card-text">Use this to test GLAMORISE with NaLIR NLIDB using the MAS (Microsoft Academic Search) database.</p>
                        <a href="/glamorise_nalir_mas" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>    
            <div class="col-sm-4">
                <div class="card  h-100 d-inline-block" style="width: 18rem;">
                    <img class="card-img-top" src="{{url_for('static', filename='images/danke_anp.png')}}" alt="Petrobras Platform">
                    <div class="card-body">
                        <h5 class="card-title">GLAMORISE with DANKE - ANP database</h5>
                        <p class="card-text">Use this to test GLAMORISE with DANKE using an ANP (Agência Nacional de Petróleo - Brazilian Petroleum Agency) database.</p>
                        <a href="/glamorise_danke_anp" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>  
        </div>
    {% endblock content %}