<h1>Glamorise using NLIDB Mock (Database: ANP)</h1>
<div class="row " id="instructions">
    </br>
    <p class="text-left">This is just a test implementation of <b>GLAMORISE</b> integrated with a <b>mock</b> NLIDB using an <b>ANP</b> (Agência Nacional de Petróleo - Brazilian Petroleum Agency) database.</p>
    <p class="text-left">This test is prepared to accept one of the following questions:</p>
    <div class="row">
        <ul class="list-group"></ul>
            <div class="col-md-6">
                <li class="list-group-item">What was the production of oil in the state of Rio de Janeiro?</li>
                <li class="list-group-item">What was the average monthly production of oil in the state of Rio de Janeiro?</li>
                <li class="list-group-item">What was the average yearly production of oil in the state of Alagoas?</li>
                <li class="list-group-item">How many fields are there in Paraná?</li>
                <li class="list-group-item">What was the maximum production of oil in the state of Ceará per field?</li>
                <li class="list-group-item">What was the minimum gas production in the state of São Paulo per basin?</li>
                <li class="list-group-item">What was the average monthly oil production by the operator Petrobrás?</li>
                <li class="list-group-item">What was the mean yearly gas production per field?</li>
                <li class="list-group-item">What was the mean gas production per month per field?</li>
                <li class="list-group-item">What was the per month mean gas production per field?</li>
                <li class="list-group-item">What was the per field mean gas production per month?</li>
                <li class="list-group-item">What was the mean monthly petroleum production by field in the state of Rio de Janeiro?</li>
            </div>
            <div class="col-md-6">                
                <li class="list-group-item">What was the mean yearly petroleum production by field by Rio de Janeiro?</li>
                <li class="list-group-item">What was the mean gas production per field with production greater than 100 cubic meters?</li>
                <li class="list-group-item">What was the mean gas production per basin with production less than 1000 cubic meters?</li>
                <li class="list-group-item">Which field produces the most oil per month?</li>
                <li class="list-group-item">Which basin has the highest yearly oil production?</li>
                <li class="list-group-item">Which federated state has the lowest gas production?</li>
                <li class="list-group-item">Which state of the federation has the lowest gas production?</li>
                <li class="list-group-item">What was the average yearly production of oil per field and state in the year 2015?</li>
                <li class="list-group-item">What was the average monthly production of oil per field in the state of Rio de Janeiro and year 2015?</li>
                <li class="list-group-item">Give me the operator with the highest number of fields</li>
            </div>
        </ul class="list-group">    
    </div> 
    </br>
    <p class="text-left">You can customize the settings including, changing and modifying reserved words and subsequent words POS (Part-of-Speech) in the <b>GLAMORISE Settings</b> tab.</p>
</div>
</br></br>