<h1>Glamorise using NLIDB NaLIR (Database: ANP)</h1>
<div class="row " id="instructions" style="display:none;">
    </br>
    <p class="text-left">This is an experimental implementation of <b>GLAMORISE</b> integrated with a Python port of NLIDB <b>NaLIR</b> using an <b>ANP</b> (Agência Nacional de Petróleo - Brazilian Petroleum Agency) database.</p>
    <p class="text-left">You can make queries about <b>oil</b> and <b>gas production</b> in <b>fields</b>, which in turn are located in <b>basins</b>, which in turn are located in one or more <b>states</b>.</p>
    <p class="text-left">The production data is stored on a <b>monthly</b> basis.</p>
    <p class="text-left">A single <b>operator</b> has the concession for each <b>field</b>.</p>
    {% include "reserved_words_explanation.html" %}
    <p class="text-left"><b>Example: </b>Return to me the average oil production per field in the state of "Rio de Janeiro"</p>
</div>
</br></br>


