<h1>Glamorise using NLIDB NaLIR (Database: MAS)</h1>
<p class="text-left">This is a experimental implementation of <b>GLAMORISE</b> integrated with a Python port of NLIDB <b>NaLIR</b> using a MAS (Microsoft Academic Search) database.</p>
<p class="text-left">You can make queries about <b>authors, publications, journals, conferences, keywords, citations</b> and <b>organizations</b>.</p>
{% include "reserved_words_explanation.html" %}
<p class="text-left"><b>Example: </b>return me the author in the "University of Michigan" who have more than 5000 total citations.</p>
</br></br>