<h1>Glamorise using NLIDB NaLIR (Database: MAS)</h1>
<div class="row " id="instructions" style="display:none;">
    </br>
    <p class="text-left">This is an experimental implementation of <b>GLAMORISE</b> integrated with a Python port of NLIDB <b>NaLIR</b> using a MAS (Microsoft Academic Search) database.</p>
    <p class="text-left">You can make queries about <b>authors, publications, journals, conferences, keywords, citations</b> and <b>organizations</b>.</p>
    {% include "reserved_words_explanation.html" %}
    <p class="text-left"><b>Example: </b>return me the number of publications per year whose author is Marco Antonio Casanova.</p>
</div>
</br></br>