<p class="text-left">You can ask <b>wh-questions: what, which, who, whom, where</b> and <b>when</b>. You can also use <b>how many</b> or <b>how much</b>. You can also make queries with verbs like: <b>tell, give, return, list, find, show, retrieve, display, search</b> and <b>select</b>.</p>
<p class="text-left">To signal an aggregation function <b>count</b> you can use: <b>how many</b> and <b>number of</b>.</p>
<p class="text-left">To signal an aggregation function <b>sum</b> you can use: <b>how many</b> (in a numeric field), <b>how much</b> and <b>total</b>.</p>
<p class="text-left">To signal an aggregation function <b>avg</b> you can use: <b>average, mean</b> and <b>avg</b>.</p>
<p class="text-left">To signal an aggregation function <b>min</b> you can use: <b>least, smallest, tiniest, shortest, cheapest, nearest, lowest, worst, newest, min</b> and <b>minimum</b>.</p>
<p class="text-left">To signal an aggregation function <b>max</b> you can use: <b>most, biggest, longest, furthest, highest, tallest, greatest, best, oldest, max</b> and <b>maximum</b>.</p>
<p class="text-left">To signal a <b>group by</b> clause you can use: <b>by, per, for each</b> and <b>of each</b>.</p>
<p class="text-left">To signal a <b>having</b> or <b>where</b> clause condition you can use: <b>more than, greater than, less than, equal to, greater than or equal to</b> and <b>less than or equal to</b>.</p>
<p class="text-left">To signal a <b>time-scale conversion</b>you can use: <b>daily, monthly</b> and <b>yearly</b>.</p>
<p class="text-left">You can customize the settings including, changing and modifying reserved words and subsequent words POS (Part-of-Speech) in the <b>GLAMORISE Settings</b> and <b>NaLIR Settings</b> tabs.</p>
</br>